<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-slate-100 p-60 min-h-screen">

    <div class="form-control">
        <div class="flex space-x-4">
            <input type="text" placeholder="Enter a keyword to search for mountains" class="input w-full">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
 
</body>
</html>